* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1110px;  
  margin: 0 auto;  
}

/* utilities */
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.card {
  background-color: #fff;
  padding: 1rem;

}


/* header */
.header {
  background-color: blue;
}

.header .flex {
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.logo {
  color: white;
}

.nav-menu {
  padding: 0.3rem;  
  background-color: rgba(0,0,0,0.1);
}

.nav-menu a {
  color: white;
  margin-right: 1rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  text-decoration: none;
}


/* hero */
.hero-section .container {
  height: 260px;
}


.hero-cover {
  background: linear-gradient(to right, transparent, rgba(4, 4, 87, 0.945)), url('/images/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  height: 100%;  
  width: 100%; 
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.hero-info {
 color: white;
 text-align: center;
}

.hero-info p {
  width: 70%;
  margin: 0.3rem auto;
}

.hero-cover a {
  padding: 0.3rem;
  text-decoration: none;
  text-transform: capitalize;
}

.hero-info::before,
.hero-info::after {
  position: absolute;
  content: '';
 height: 27px;
 background-color: #ccc;
 bottom: -28px;
  right: 0;
  left: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
}

.hero-cover p {
  line-height: 1.2;
}

.hero-cover a {
  color: #111;
  background-color: rgb(189, 189, 192);
}



/* about */
.about .grid {
  padding: 1rem;
}
.about i img {
  width: 30px;
  height: 30px;
}

.about li {
  text-align: center;
}




/* tablet */
@media(min-width: 668px){
  .header .flex {
    flex-direction: row;    
    justify-content: space-between;
    padding: 1rem;  
  }
  .hero {
    justify-content: start;
  }
  .hero {
    outline: 1px solid green;
    /* width: 40%; */
    /* justify-self: flex-start; */
  }
  .about .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* laptop */
@media(min-width: 992px){
  .about .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


